<!-- app/views/institutions/index.html.erb -->

<h1>Todas as Instituições</h1>

<% @institutions.each do |institution| %>
  <div>
    <h2><%= institution.name %></h2>
    <p><%= institution.cnpj %></p>
    <!-- Adicione outros campos que deseja exibir aqui -->
  </div>
<% end %>
