<!DOCTYPE html>
<html>
<head>
  <title>Sua Aplicação</title>
  <!-- Adicione links para arquivos CSS e JavaScript, etc. -->
</head>
<body>

<header>
  <!-- Seu cabeçalho aqui, por exemplo: -->
  <h1>Sua Aplicação</h1>
  <!-- Adicione o link para a página de login -->
  <%= link_to 'Login', login_path %>
</header>

<!-- Conteúdo principal da página -->
<%= yield %>

<footer>
  <!-- Seu rodapé aqui -->
</footer>

</body>
</html>
